<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="chatbox">
            <div class="header">
                <img height="40px" src="https://img.icons8.com/emoji/48/purple-circle-emoji.png" alt="bot-profile">
                <h3>Orca Mini</h3>
            </div>
            <div class="chat-container">
                <div class="message">
                    <div class="user-container">
                        <div id="user-content">
                            <div class="user-message">Hi Bot</div>
                            <img src="https://img.icons8.com/emoji/48/orange-circle-emoji.png" alt="user photo">
                        </div>
                    </div>
                    <div class="bot-container">
                        <div id="bot-content">
                            <img src="https://img.icons8.com/emoji/48/purple-circle-emoji.png" alt="bot photo">
                            <div class="bot-message">Hello! How may I assist you today?</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <textarea id="text-input" placeholder="Send a message"></textarea>
                <div id="send"></div>
            </div>
        </div>
    </div>
</body>
</html>